# output dir
/output

# c related file
*.d
*.o
*.a
*.map

# gcov file
*.gcda
*.gcov
*.gcno

# profiling file
*.out.*

# self shell script
*.sh
*.pl


# vim file
*.swp
*.pyc

# cscope file
*.files
*.out
tags
